* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  position: absolute;
  width: 100%;
  height: 95vh;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}
